@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

:root {
  --Pale-blue: hsl(225, 100%, 94%);
  --Bright-blue: hsl(245, 75%, 52%);
  --Very-pale-blue: hsl(225, 100%, 98%);
  --Desaturated-blue: hsl(224, 23%, 55%);
  --Dark-blue: hsl(223, 47%, 23%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}
img {
  max-width: 100%;
}
body {
  font-family: "Red Hat Display", sans-serif;
  background-image: url(./images/pattern-background-mobile.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--Pale-blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  font-size: 11px;
  color: hsl(228, 45%, 44%);
}
.btn {
  border: none;
  font-weight: bold;
  padding: 1.3rem 1rem;
  border-radius: 0.6rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  font-size: 0.9rem;
}
.btn--change {
  background-color: transparent;
  color: var(--Bright-blue);
}
/* .btn--primary,
.btn--secondary {
  width: 95%;
  max-width: 340px;
} */
.btn--primary {
  color: white;
  background-color: var(--Bright-blue);
  padding: 1rem;
}
.btn--primary:hover,
.btn--change:hover {
  opacity: 0.8;
}
.btn--secondary {
  background-color: transparent;
  color: var(--Desaturated-blue);
}
.btn--secondary:hover {
  color: var(--dark-blue);
}
.main__container {
  background-color: white;
  margin: 1rem;
  /* padding: 1rem; */
  border-radius: 1rem;
  box-shadow: 0 6px 6px hsl(224, 23%, 55%, 0.15);
  text-align: center;
  max-width: 340px;
}
.main__container p:nth-child(2) {
  padding: 0.5rem;
}
.main__container img {
  border-radius: 1rem 1rem 0 0;
}
.main__container--second {
  padding: 1rem;
}
h1 {
  color: var(--dark-blue);
  font-weight: 700;
  font-size: 1.5rem;
  margin: 1rem 0;
}
p {
  color: var(--Desaturated-blue);
  line-height: 1.6;
  font-weight: 400;
}
.main__container--price {
  margin: 1.2rem auto;
  padding: 1rem;
  background-color: var(--Very-pale-blue);
  width: 90%;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main__container--price h3 {
  font-size: 0.9rem;
}
.main__container--price p {
  font-size: 0.9rem;
}
.main__container--price button {
  font-size: 0.9rem;
}
.main__container .main__container--price article {
  font-size: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main__container .main__container--price article img {
  margin-right: 1rem;
}
.main__container .buttons {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  body {
    min-height: 100vh;
    background-image: url(./images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
